<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Jeu de carte</title>
  <link rel="stylesheet" href="{{ asset('assets/styles/styles.css') }}" />
</head>
<body>
  <header>
    {% include 'layout/nav.twig' %}
  </header>

  <section class="contenu">
    {% if is_logged_in %}
      {% include 'card/form.twig' %}
    {% endif %}

    {% include 'card/collection.twig' %}
  </section>
</body>
</html>