<nav>
  <ul>
    {% if session.id_utilisateur is defined %}
      <li><a href="/logout">Logout</a></li>
    {% else %}
      <li><a href="/login">Login</a></li>
    {% endif %}
    <li><a href="/test">Test</a></li>
  </ul>
</nav>
